<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742346627788-ittp5lj3pvnsuiml0m6nt7u6pkikgia5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742346627788-ittp5lj3pvnsuiml0m6nt7u6pkikgia5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzZw9Aaw8jeCawM5qlUbIsMaSt17VOPEI</string>
	<key>GCM_SENDER_ID</key>
	<string>742346627788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.resmedia.tac</string>
	<key>PROJECT_ID</key>
	<string>tac-dev-24fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>tac-dev-24fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742346627788:ios:68ea52f91db8070238c069</string>
</dict>
</plist>